:root {
    --avatar-size: 56px;

    --color-primary: #171717;
    --color-secondary: #525252;

    --bg-primary: #fff;
    --bg-secondary: #e5e7eb;
    --bg-tertiary: #fafafa;

    --shadow: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
}

.container {
    display: flex;
    justify-content: center;

    padding: 16px;
    min-height: 100vh;
}

.profile-card {
    display: flex;
    flex-direction: column;

    max-width: 360px;
    padding: 20px;
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-tertiary);
    border-radius: 12px;
    box-shadow: 0 4px 10px var(--shadow);
    margin-top: 200px;
}

.profile-card__header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-card__avatar img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.profile-card__user-info {
    display: flex;
    flex-direction: column;
}

.profile-card__username {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
}

.profile-card__handle {
    font-size: 1rem;
    color: var(--color-secondary);
}

.profile-card__content {
    margin-top: 20px;
}

.profile-card__text {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-secondary);
}