/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #e5e7eb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px; 
  min-height: 100vh;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
  grid-row-gap: 48px;
  padding: 104px 12px;
}

.hero-section__content,
.hero-section__banner {
  grid-column: span 4 / span 4;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-section__content__header {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-section__content__feature {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section__content__feature__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-section__content__feature__item__icon {
  width: 24px;
  height: 24px;
  color: #4338ca;
  background-color: #e0dff2;
  border-radius: 50%;
}

.hero-section__content__feature__item_text {
  font-size: 1.1rem;
  line-height: 24px;
  font-weight: 400;
  color: rgb(119, 105, 105);
}


.hero-section__content__actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-section__content__actions__btn {
  width: 213px;
  flex: 1 1 0%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  background: none;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  width: 100%;
}

.btn--primary {
  background-color: #4338ca;
  color: white;
}

.btn--secondary {
  background-color: #fff;
  color: #171717;
}

.btn--size-xl-2xl {
  height: 60px;
  padding: 16px 24px;

  font-size: 18px;
  line-height: 28px;
}

.btn--secondary.btn--size-xl-2xl {
  padding: 11px 19px;
}


.hero-section__banner {
  width: 100%;
}


@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
  .hero-section {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 32px;
  }

  .hero-section__content,
  .hero-section__banner {
    grid-column: span 6 / span 6;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 32px;
  }

  .hero-section {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 32px;
  }
  
  .hero-section__content {
    grid-column: span 5 / span 5;
  }

  .hero-section__banner {
    grid-column: span 7 / span 7;
  }
}
